/*aplicação do stylo depois do Scroll da página*/
.scrolling-active.header{   /*elemento criado ao rolar o scroll do documento.*/
    position: fixed;
    top: 0;
    background-color:#002463; /*o Fundo muda quando o posicionamento do scroll for > 0*/
    height: 80px; /*altura do menu principal*/
    transition: 0.5s ease;
}
/*.scrolling-active .menu ul{
    margin-top: 15px;
    transform: 0.5s ease;
}*/
/*
@media (max-width: 999px){
    .scrolling-active ul.nav-list{
        top: 8vh;
        transition: 0.5s ease;
        height: 94vh;
    }
}
*/
.scrolling-active li.nav-item a{
    color: #cecece;
}
.scrolling-active li.nav-item a:hover{
    color: rgb(70, 31, 212);
    
}

.scrolling-active a.logo{
    color: #cac7c7;
}

/*Apply styles after scroll end*/