/*Estilo para Tablets*/
@media only screen and (min-width: 793px) and (max-width:984px){
    /*TOPO*/
    .rua a, .tel a, .email a, .horario {
        font-size: 12px;        
        line-height: 18px;        
    }
    /*PRINCIPAL*/
    .conteudo-principal .title{
        width: 300px;
        margin: 10px;
        text-align: center;
    }
    .call{
        text-align: center;
    }
    /*SOBRE*/
    .descricao-sobre img{
        width: 226px;
        height: 226px;
    }
    .sobre .conteudo-sobre p{
        font-size: 14px;
        line-height: 21px;
        letter-spacing: normal;
    }
    /*1º SEPARADOR*/
    .titulo-separador{
        font-size: 16px;
    }
    .texto-separador{
        font-size: 14px;
        line-height: 21px;
    }
    /*AREAS DE ATUAÇÃO*/
    .texto-titulo{
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
    }
    .area ul li img {
        width: 172px;
    }
    .desc{
        width: 100%;
        font-size: 14px;
    }
    /*2º SEPARADOR*/
    .separador-redes-sociais ul .p-1{
        margin-top: 0;
    }
    /*PRINCIPAIS SERVIÇOS*/
    .principais-servicos ul li p {
        width: 236px;
    }
    /*FOOTER*/
    .footer .copyright{
        margin-top: 20px;
    }
}

/*Estilo para SmathPhone*/
@media only screen and (max-width:793px){
    /*TOPO*/
    .topo {
        overflow: hidden;
        padding-top: 5px;
    }
    .email{
        display: none;
    }
    .rua , .tel , .email, .horario{
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        text-align: center;
        color: #fff;
        font-style: normal;
        margin-bottom: 0px;
    }
    .tel a, .rua a{
        font-size: 12px;
    }

    /*MENU*/
    .menu ul{
        text-align: center;
        margin:5px
    }
    .menu ul li{
        margin:0 20px 10px 0;
        font-size: 12px;
    }
    /*PRINCIPAL*/
    .conteudo-principal .call {
        margin-top: 50px;
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        text-align: center;
    }
    .btn{
        width: 100%;
    }
    .btn a{
        font-size: 14px;
    }
    /*SOBRE*/
    
    .conteudo-sobre p{
        font-size: 12px;
        line-height: 18px;
    }
    /*1º - SEPARADOR*/
    .separador{
        padding: 15px 0;
    }
    .titulo-separador {
        width: 300px;
        margin: 0 auto 10px auto;
        font-size: 16px;
    }
    .texto-separador{
        width: 300px;
        font-size: 12px;
        line-height: 18px;
    }
    /*
    Títulos de sessão*/
    .titulos{
        width: 300px;
        font-size: 26px;
        margin: 0px auto 20px auto;
    }
    .texto-titulo {
        width: 300px;
        margin: 15px auto 40px auto;
        text-align: center;
        font-size: 14px;
    }
    .area ul li img {
        width: 100%;
    }
    .desc {
        width: 100%;
    }
}