/*Configurações Gerais*/
body{
    font-family: 'Roboto', sans-serif;    
}
a{
    color: #fff;
    font-size: 16px;
}
#select{
    color: gold;
}
.titulos{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #002463;
    text-align: center;
}
.texto-titulo{
    width: 500px;
    margin: 25px auto 50px auto;
    text-align: center;
}


/*Fim de Configurações Gerais*/

/*//////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*Configurações Específicas*/
/*TOPO*/
.topo{
    width: 100%;
    height: 80px;
    background-color: #373E53;
    padding: 10px 0;
}
.topo img{
    width: 14px;
    height: 14px;
    margin-right: 5px;
}
.tel, .email, .rua{
    margin-top: 5px;
}

.rua a, .tel a, .email a, .horario {
    font-size: 14px;    
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    color: #fff;
    font-style: normal;
}

/*FIM DO TOPO*/
/*HEADER - MENU*/
.header{
    margin-top: -9px;
    width: 100%;
    height: 100px;    
    padding: 10px 0;
    border-bottom: 1px solid #002463;
    background-color: rgba(0, 36, 99, 0.3);
    z-index: 10;
    transition: 0.5s ease;
}

.menu ul{
    text-align: end;
    margin-top: 25px;
    transition: 0.5s ease;
}
.menu ul li{
    display: inline-block;    
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    
}
.menu ul li:hover::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: gold;
    margin: 5px auto;
}



/*FIM DO HEADER - MENU*/
/*Sessão PRINCIPAL*/
.principal{
    background: url(../imgs/bg-home/PRINCIPAL.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
}
.principal::before{
    content: "";
    display: block;
    width: 30%;
    min-width: 150px;
    height: 9px;
    background-color: #002463;
    margin: 0px auto;
    position: relative;
    top: 95px;
    border-radius: 15px;
}
.conteudo-principal{
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 auto;
    align-items: center;
}
.conteudo-principal .title{
    font-family: 'Cinzel Decorative', cursive;
    color: #fff;
    font-size: 42px;
    letter-spacing: .1em;    
}
.conteudo-principal .title::after{
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
}
.conteudo-principal .subtitle{
    margin-top: 20px;
    color: #fff;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 18px;
    font-style: italic;
    letter-spacing: .1em;
}
.conteudo-principal .call{
    margin-top: 80px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.conteudo-principal .btn{
    height: 50px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #373E53;
    border-style: none;
    font-size: 18px;
    text-transform: uppercase;
}
.conteudo-principal .btn:hover{
    background-color: #002463;
    
}
/*Fim do Sessão PRINCIPAL*/
/*Sessão Sobre*/
.sobre{
    padding: 50px 0;
}

.descricao-sobre{
    margin: 0;
}
.descricao-sobre li{
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}
.descricao-sobre .subtitle{
    margin-top: 10px;    
    font-family: 'Ibarra Real Nova', serif;
    font-size: 18px;
    font-weight: bold;    
    letter-spacing: .1em;
}
.sobre .conteudo-sobre{
    margin-top: 30px;
    padding: 0 20px;
}
.sobre .conteudo-sobre p:first-child{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .1em;
    line-height: 24px;
    text-indent: 30px;
}
.conteudo-sobre h3{
    margin-top: 50px;
    margin-bottom: 15px;
}
.conteudo-sobre p{    
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .1em;
    line-height: 21px;
}
/*Fim da Sessão Sobre*/
/*SEPARADORES - GERAL*/
.separador{
    width: 100%;
    height: 150px;
    padding: 25px 0;
    background-color: #373E53;    
}
.titulo-separador{    
    margin: 0 auto 20px auto;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: .1em;
    text-align: center;
}
.texto-separador{
    width: 500px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    letter-spacing: .1em;
}

/*Fim do SEPARADORES - GERAL*/
/*Areas de Atuação*/
.area{
    padding: 50px 0;
    background-color: #D9E0E6;   
}

.area ul li img{
    width: 220px;
}
.area ul li{
    background-color: #373E53;
    color: #D9E0E6;
    transition: 900ms ease;
}
.area ul li:hover{
    background-color: #D9E0E6;
    color: #002463;
    transition: 300ms ease;
}
.desc{
    width: 220px;
    margin-top: -5px;
    padding: 20px 0;
    text-align: center;
}
/*Fim de Areas de Atuação*/
/*Separador Redes Sociais*/
.separador-redes-sociais{
    width: 100%;
    height: 150px;
    background-color: #002463;
    padding: 25px 0;
}
.separador-redes-sociais .titulo-separador{    
    margin: 0 auto;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: .1em;
    text-align: center;
    font-style: normal;
}
.separador-redes-sociais ul .p-1{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin-top: 25px;
    letter-spacing: .1em;
    font-style: italic;
}
.separador-redes-sociais ul .p-2{
    
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin-top: 25px;
    letter-spacing: .1em;
    font-style: normal;
}

.icon-redes-sociais-separador li{
    display: inline-block;
    margin: 20px 10px 0 10px;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    padding: 7px 5px 5px 5px;
}
.icon-redes-sociais-separador li:hover{
    background-color: #D9E0E6;
}
/*FIM do Separador Redes Sociais*/
/*PRINCIPAIS SERVIÇOS*/
.principais-servicos{
    width: 100%;
    padding: 50px 0;    
}
.principais-servicos ul li{
    width: 100%;
    height: 80px;
    border: 2px solid #002463;
    background: #D9E0E6;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.principais-servicos ul li:hover{
    background-color: #002463;
    color: #D9E0E6;    
}
.circle{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: #D9E0E6;
    
}
.line-h{
    width: 20px;
    height: 4px;
    background-color: #000;
    transform: translate(0px, 16px);
    margin: 0 auto;
    
}
.line-v{
    transform: rotate(90deg) translate(13px, 0px);
    width: 20px;
    height: 3px;
    background-color: #000;
    margin: 0 auto;
}
.principais-servicos ul li p{
    text-align: center;
    width: 300px;
    margin: 0 auto;
    font-size: 16px;
}
.msg-btn{
    margin-top: 40px;
    text-align: center;
}
.msg-btn p{
    font-size: 14px;
    font-weight: 300;
}
.msg-btn .btn{    
    height: 50px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #373E53;
    font-size: 18px;
    text-transform: uppercase;
}
.msg-btn .btn:hover{
    background-color: #002463;
}

/*FIM DE PRINCIPAIS SERVIÇOS*/
/*SEPARADOR - CONTADOR*/
.separador h4{
    text-align: center;
    font-size: 16px;
    color: #fff;    
}
/*FIM DO SEPARADOR - CONTADOR*/
/*SESSÃO CONTATO*/
.contato{
    padding: 50px 0;
    background-color: #D9E0E6;
}
.contato-form{
    margin-top: 20px;
}
.contato-form label{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    
}
.contato-form input{
    display: block;
    width: 100%;
    background: none;
    border: 3px double #002463;
    padding: 8px;
    outline: invert;
    font-size: 14px;
    margin-bottom: 25px;    
}
.contato-form textarea{
    display: block;
    width: 100%;
    height: 115px;
    background: none;
    border: 3px double #002463;
    padding: 10px;
}

.dados-contato{
    padding-left: 20px;
    margin-top: 20px;
}
.dados-contato h3{
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: .1em;
    margin-bottom: 10px;
}
.dados-contato p{
    width: 300px;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 30px;
}
.dados-contato p a{
    color: #002463;
}
.botoes button.btn{
    display: block;
    margin: 30px auto;
}
.botoes button{    
    height: 50px;    
    padding: 10px 20px;
    background-color: #373E53;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}
.botoes .btn:hover{
    background-color: #002463;
}
/*FIM DA SESSÃO CONTATO*/
/*FOOTER*/
.footer{
    padding-top: 20px;
    background-color: #002463;
}
.footer h3{
    color: #D9E0E6;
    font-size: 20px;
    text-transform: uppercase;
}
.t2{
    text-align: center;    
}
.t3{
    text-align: end;
}
.footer .t1::after{
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0;
}
.footer .t2::after{
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
}
.footer .t3::after{
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0 10px auto;
}
.footer p{
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #fff;
}
.area-footer li{    
    text-align: center;
    font-size: 16px;
    font-weight:300;
    color: #D9E0E6;
    margin-bottom: 5px;
}
.area-footer li::before,.area-footer li::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 3px;
    background-color: #D9E0E6;
    margin: 0 8px 5px 8px;
}
.sociais-footer{
    text-align: end;
}
.sociais-footer li{
    display: inline-block;
    margin: 20px 0px 0 10px;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    padding: 7px 5px 5px 5px;
}
.sociais-footer li:hover{
    background-color: #D9E0E6;
}
.copyright{
    background-color: #000;
    padding: 10px;
    
}
.copyright div{
    color: #D9E0E6;
    font-size: 12px;
    font-weight: 300;
    padding-left: 10px;
}




/*FIM DO FOOTER*/


/*Fim de Configurações Específicas*/