/*Configurações Gerais*/
body{
    font-family: 'Roboto', sans-serif;    
}
a{
    color: #fff;
    font-size: 16px;
}
#select{
    color: gold;
}
.titulos{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #002463;
    text-align: center;
}


/*Fim de Configurações Gerais*/

/*//////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*Configurações Específicas*/
/*TOPO*/
.topo{
    width: 100%;
    height: 80px;
    background-color: #373E53;
    padding: 10px 0;
}
.topo img{
    width: 14px;
    height: 14px;
    margin-right: 5px;
}
.tel, .email, .rua{
    margin-top: 5px;
}

.rua a, .tel a, .email a, .horario {
    font-size: 14px;    
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    color: #fff;
    font-style: normal;
}

/*FIM DO TOPO*/
/*HEADER - MENU*/
.header{
    margin-top: -9px;
    width: 100%;
    height: 100px;    
    padding: 10px 0;
    border-bottom: 1px solid #002463;
    background-color: rgba(0, 36, 99, 0.3);
    z-index: 10;
    transition: 0.5s ease;
}

.menu ul{
    text-align: end;
    margin-top: 25px;
    transition: 0.5s ease;
}
.menu ul li{
    display: inline-block;    
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    
}
.menu ul li:hover::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: gold;
    margin: 5px auto;
}



/*FIM DO HEADER - MENU*/
/*Sessão PRINCIPAL*/
.principal{
    background: url(../imgs/bg-home/PRINCIPAL.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
}
.principal::before{
    content: "";
    display: block;
    width: 30%;
    min-width: 150px;
    height: 9px;
    background-color: #002463;
    margin: 0px auto;
    position: relative;
    top: 95px;
    border-radius: 15px;
}
.conteudo-principal{
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 auto;
    align-items: center;
}
.conteudo-principal .title{
    font-family: 'Cinzel Decorative', cursive;
    color: #fff;
    font-size: 42px;
    letter-spacing: .1em;    
}
.conteudo-principal .title::after{
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
}
.conteudo-principal .subtitle{
    margin-top: 20px;
    color: #fff;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 18px;
    font-style: italic;
    letter-spacing: .1em;
}
.conteudo-principal .call{
    margin-top: 80px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.conteudo-principal .btn{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #373E53;
    border-style: none;
}
.conteudo-principal .btn:hover{
    background-color: #002463;
    
}
/*Fim do Sessão PRINCIPAL*/
/*Sessão Sobre*/
.sobre{
    padding: 50px 0;
}

.descricao-sobre{
    margin: 0;
}
.descricao-sobre li{
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}
.descricao-sobre .subtitle{
    margin-top: 10px;    
    font-family: 'Ibarra Real Nova', serif;
    font-size: 18px;
    font-weight: bold;    
    letter-spacing: .1em;
}
.sobre .conteudo-sobre{
    margin-top: 30px;
    padding: 0 20px;
}
.sobre .conteudo-sobre p:first-child{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .1em;
    line-height: 24px;
    text-indent: 30px;
}
.conteudo-sobre h3{
    margin-top: 50px;
    margin-bottom: 15px;
}
.conteudo-sobre p{    
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .1em;
    line-height: 21px;
}


/*Fim da Sessão Sobre*/


/*Fim de Configurações Específicas*/